<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Vue Shopping Cart</title>
    </head>
    <body>
        <div class="card">
            <div class="image">
                <img :src="`assets/img/${color}.png`" alt="{{ fullName }}">
            </div>

            <div class="detail">
                <h1 class="title">{{ fullName }}</h1>
                <p class="price">€ {{ fullPrice.toFixed(2) }}</p>

                <h3>Colore:</h3>
                <ul class="colors">
                    <li class="color" v-for="(clr, index) in product.colors" :style="{ 'background-color': clr }" :class="clr === color ? 'selected' : ''" @click="changeColor(clr)" :key="index"></li>
                </ul>

                <h3>Memoria:</h3>
                <div class="sizes">
                    <div v-for="(opt, index) in product.options" :key="index">
                        <input type="radio" name="size" :id="opt.text" :value="opt.text" :checked="index === option" @click="changeOption(index)">
                        <label :for="opt.text">{{ opt.text }}</label>
                    </div>
                </div>

                <div class="purchase" @click="addToCart">Aggiungi al carrello (<strong>{{ totalItem }}</strong>)</div>
            </div>

            <span class="total" @click="showCart = !showCart">Totale: € <strong>{{ totalPrice }}</strong></span>
        </div>

        <div class="sidebar" :class="{ 'is-hidden' : !showCart, 'empty': !cart.length }">
            <div class="item" v-for="(item, index) in cart">
                <img :src="`img/${item.color}.png`" alt="{{ fullName }}">
                <div>
                    <p>{{ item.name }}</p>
                    <p class="quantity">{{ item.quantity }} x € {{ item.price }}</p>
                    <span class="remove" @click="removeToCart(index)">x</span>
                </div>
            </div>
            <div class="subtotal" v-if="cart.length">Totale: <span>€ {{ totalPrice }}</span></div>
            <div class="button" v-if="cart.length"><a href="http://offline.altervista.org/ecommerce/public/index.php?route=carrello/" title="Carrello">Vai al carrello</a></div>

            <div v-if="!cart.length">
                <img src="cart-empty.png" alt="Carrello vuoto">
                <p>Il carrello è vuoto</p>
            </div>
        </div>

        <div class="overlay" :class="!showCart ? 'is-hidden' : ''" @click="showCart = !showCart"></div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>