<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Vue Shopping Cart</title>
    </head>
    <body>
        <div class="card">
            <div class="image">
                <img :src="`img/${color}.png`">
            </div>

            <div class="detail">
                <h1 class="title">{{ fullName }}</h1>
                <p class="price">€ {{ fullPrice.toFixed(2) }}</p>

                <h3>Colore:</h3>
                <ul class="colors">
                    <li class="color" v-for="(clr, index) in product.colors" :style="{ 'background-color': clr }" :class="clr === color ? 'selected' : ''" @click="changeColor(clr)" :key="index"></li>
                </ul>

                <h3>Memoria:</h3>
                <div class="sizes">
                    <div v-for="(opt, index) in product.options" :key="index">
                        <input type="radio" name="size" :id="opt.text" :value="opt.text" :checked="index === option" @click="changeOption(index)">
                        <label :for="opt.text">{{ opt.text }}</label>
                    </div>
                </div>

                <div class="purchase" @click="addToCart">Aggiungi al carrello (<strong>{{ totalItem }}</strong>)</div>
            </div>

            <span class="total">Totale: € <strong>{{ totalPrice }}</strong></span>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>