@import url('https://fonts.cdnfonts.com/css/roboto');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #f2f3f4;
}

.card {
    width: calc(100% - 100px);
    max-width: 750px;
    height: 425px;
    margin: 50px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 30%), inset 0px 0px 2px 0px rgb(0 0 0 / 30%);
    border-radius: 4px;
    background-image: linear-gradient(-180deg, #fb947d, #FC3E65, #f23236);
    position: relative;
}

.total {
    position: absolute;
    top: -16px;
    right: -34px;
    color: #000;
    border-radius: 20px;
    padding: 5px 20px;
    background: #fc5968;
    color: #FFF;
    background-image: linear-gradient(-180deg, #FD886E 0%, #FC3E65 100%);
    box-shadow: 0px 3px 13px 0px rgb(252 75 104 / 60%);
}

.image {
    width: 50%;
    height: 100%;
    text-align: center;
    padding-bottom: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.detail {
    background: #fff;
    color: #5d5c5c;
    height: 100%;
    width: 50%;
    padding: 30px;
    border-radius: 0 4px 4px 0;
    text-align: center;
}

.detail > * {
    padding: 8px 0;
    margin: 0 auto;
}

.detail h3 {
    padding-top: 20px;
}

.title {
    font-size: 24px;
    color: #484848;
    font-weight: bold;
}

.price {
    font-size: 1.5em;
    text-align: center;
}

.color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: #ef8bef;
    transition: all .3s;
    margin-right: 25px;
    cursor: pointer;
}

.color:last-child {
    margin-right: 0;
}

.color.selected {
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px rgba(173, 173, 170, .3);
}

.sizes {
    display: flex;
    justify-content: center;
    margin: 8px auto 10px;
}

.sizes input[type="radio"] {
    display: none;
}

.sizes input[type="radio"] + label {
    min-width: 45px;
    height: 25px;
    margin-right: 16px;
    padding: 10px;
    border-radius: 25px;
    background-color: #E0F7FA80;
    color: #00BCD4;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
}

.sizes input[type="radio"]:checked + label {
    background-color: #00BCD4;
    color: #FFFFFF;
}

.sizes > div:last-child label {
    margin-right: 0;
}

.purchase {
    border-radius: 33px;
    background-image: linear-gradient(-180deg, #FD886E 0%, #FC3E65 100%);
    box-shadow: 0px 3px 13px 0px rgba(252, 75, 104, 0.6);
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
    color: #fff;
    margin: 20px auto 0;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.purchase:active {
    transform: scale(.95);
    box-shadow: 0 5px 40px -20px rgba(252, 75, 104, 0.6);
}

@media screen and (max-width: 768px) {
    .card {
        display: block;
        height: auto;
    }

    .card > div {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .card .image {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card .detail {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}